<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.main.ateam.admin.dao.AdminDao">


	<select id="memberList" resultType="memberVO"> <!-- 회원 리스트 -->
		select num,id,name,age,gender,tel,email,addr,mdate from member order
		by 1 desc
	</select>

	<select id="ad_hospitalList" resultType="hvo"> <!-- (사이트에 등록된)병원 - 업체 리스트 (1:1 관계) -->
		SELECT rownum r_num,c.cnum,h.hname,h.hloc,h.otime,
		h.ctime,h.hcate,h.htel,h.hurl,
		c.ccate from hospital h, company c
		where
		h.cnum = c.cnum and c.cstatus=1
	</select>
	<select id="waitingList" resultMap="companyResult">
		<!-- select * from company where cstatus=0 order by 1 -->
		select rownum r_num ,c.*,h.* from
		hospital h,company c where c.cstatus
		= 0
		and c.cnum = h.cnum order by c.cdate desc
	</select>

	<update id="agree" parameterType="int">
		update company set cstatus=1
		where cnum = #{cnum}
	</update>

	<resultMap type="cvo" id="companyResult">
		<id property="cnum" column="cnum" javaType="int" />
		<result property="r_num" column="r_num" />
		<result property="crn" column="crn" />
		<result property="cpwd" column="cpwd" />
		<result property="ccate" column="ccate" />
		<association property="hvo" column="cnum" javaType="hvo">
			<id property="cnum" column="cnum" />
			<result property="r_num" column="r_num" javaType="int" />
			<result property="hname" column="hname" />
			<result property="hloc" column="hloc" />
			<result property="otime" column="otime" />
			<result property="ctime" column="ctime" />
			<result property="hcate" column="hcate" />
			<result property="hurl" column="hurl" />
			<result property="htel" column="htel" />
		</association>
	</resultMap>

	<!-- bar chart 태진 -->
	<resultMap type="cvo" id="adminBarchart1">
		<id property="cnum" column="cnum" javaType="int" />
		<result property="r_num" column="r_num" />
		<result property="hgrade" column="hgrade" />
		
		<collection property="hvo" javaType="java.util.List" ofType="hvo">
			<id property="cnum" column="cnum" />
			<result property="hcate" column="hcate" />
			
		<collection property="doctorVO"  javaType="java.util.List" ofType="doctorVO">
			<id property="dnum" column="dnum" />
			<result property="dmajor" column="dmajor" />
			
		<collection property="reserveVO" javaType="java.util.List" ofType="reserveVO">
			<id property="reservNum" column="reservNum" />
			<result property="r_num" column="r_num" />
		</collection>
		</collection>
		</collection>
	</resultMap>
		<!--이번 달 예약횟수 select d.dmajor ,count(*) r_num
		from reserve r, doctor d ,hospital h,company c 
		where r.dnum=d.dnum and h.cnum = d.cnum and h.cnum = c.cnum and substr(r.rdate,6,2)= substr(sysdate,4,2)
		group by d.dmajor -->
	<select id="adminBarchart" resultMap="adminBarchart1">
		select h.hcate ,count(*) r_num
		from reserve r, doctor d ,hospital h,company c 
		where r.dnum=d.dnum and h.cnum = d.cnum and h.cnum = c.cnum 
		and substr(r.rdate,6,2)= substr(sysdate,4,2) group by h.hcate
	</select>
</mapper>