<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.ateam.company.dao.CompanyDao">


	<!-- crn 중복체크 -->
	<select id="crnCheck" parameterType="map" resultType="int">
		select count(*) from company where crn = #{crnv}
	</select>
	<!-- 업체 등록 -->
	<insert id="compInsert" parameterType="cvo">
		insert into company
		values(company_seq.nextVal,#{crn},#{cpwd},#{ccate},sysdate,0,#{hgrade})
	</insert>

	<select id="companyLogin" resultType="cvo">
		select * from company where crn=#{crn} and cpwd=#{cpwd}
	</select>
	<select id="idchk" parameterType="map" resultType="int">
		select count(*) from company where crn=#{crn} and cpwd=#{cpwd}
	</select>


</mapper>
