<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.ateam.company.dao.CompanyDao">


	<!-- crn 중복체크 -->
	<select id="crnCheck" parameterType="map" resultType="int">
		select count(*) from company where crn = #{crnv}
	</select>
	<!-- 업체 등록 -->
	<insert id="compInsert" parameterType="cvo">
		insert into company
		values(company_seq.nextVal,#{crn},#{cpwd},#{ccate},sysdate,0,#{hgrade})
	</insert>
	
	<resultMap type="cvo" id="companyLoginResult">
	<id property="cnum" column="cnum"/>
	<result property="crn" column="crn"/> 
	<result property="ccate" column="ccate"/> 
	<result property="hgrade" column="hgrade"/> 
	<association property="hvo" javaType="hvo">
	<id property="cnum" column="cnum"/>
	<result property="hcate" column="hcate"/>
	<result property="hname" column="hname"/>
	</association> 
	</resultMap>
	<select id="companyLogin" resultMap="companyLoginResult">
		select c.crn,c.ccate,c.hgrade,h.hcate,h.hname from company c,hospital h where c.crn=#{crn} and c.cpwd=#{cpwd} and c.cnum = h.hnum
	</select>
	<select id="idchk" parameterType="map" resultType="int">
		select count(*) from company where crn=#{crn} and cpwd=#{cpwd}
	</select>

</mapper>
