<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.main.ateam.doctor.dao.DoctorDao">

<select id="doctorLogin" parameterType="map" resultType="doctorVO">
  	select * from doctor where did=#{did, jdbcType=VARCHAR} and dpwd=#{dpwd ,jdbcType=VARCHAR}
  	</select>
  	
  	<select id="idchk" parameterType="map" resultType="int">
	select count(*) from doctor where did=#{did} and dpwd=#{dpwd}
</select>

<select id="hospitalDoctorDetail" resultMap="DoctorDetailResult">
select d.dnum , d.dname, d.dmajor ,h.hname,h.otime,h.ctime ,h.hloc from doctor d , hospital h where d.cnum = h.cnum and dnum = #{dnum}
</select>
<!-- doctor 등록 -->
 <insert parameterType="doctorVO" id="addDoctor">insert into doctor values(doctor_seq.nextVal,#{cnum},#{dname},#{did},#{dpwd},#{dmajor}) </insert>
 <!-- id 중복체크 -->
 <select resultType="int" parameterType="map" id="drIdCheck">select count(*) from doctor where did = #{did} </select>

 
 <!-- resultMap -->
 
 <!--병원 mypage - 의사 목록 -->
<resultMap type="doctorVO" id="DoctorDetailResult">
<id property="cnum" column ="cnum"/>
<result property="dnum" column="dnum"/>
<result property="dname" column="dname"/>
<result property="dmajor" column="dmajor"/>

<collection property="hospitalVO" javaType="java.util.List"	ofType="hvo">
 	<id property="cnum" column="cnum" javaType="int"/>
	<result property="hname" column="hname"/>
	<result property="otime" column="otime"/>
	<result property="ctime" column="ctime"/>
	<result property="hloc" column="hloc"/>
</collection>
</resultMap>
</mapper>