<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.main.ateam.member.dao.MemberDao">

<select id="memberLogin" resultType="memberVO">
  	select * from member where id=#{id} and pwd=#{pwd}
  	</select>
  	<select id="memberMyPage" resultType="memberVO">
  	select id,pwd,name,ssn,age,gender,tel,email,addr,profimg,to_char(mdate,'YYYY-MM-DD')mdate from member where num=#{num}
  	</select>
  	<update id="memberUpdate">
  	update member set name=#{name},email=#{email},tel=#{tel},profimg=#{profimg} where num = #{num}
  	</update>
  	<select id="idchk" parameterType="map" resultType="int">
	select count(*) from member where id=#{id} and pwd=#{pwd}
</select>
  	
</mapper>