<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.ateam.quesboard.dao.QuesboardDao">

<insert id="addQuesboard" parameterType="qvo">
	insert into quesboard values (QUESBOARD_SEQ.nextval, 
	#{id}, #{qtitle}, #{qcont}, 0, sysdate)
</insert>

<select id="getQBList" resultType="qvo">
	select * from quesboard order by 1 desc
</select>

<select id="getQBDetail" parameterType="int" resultType="qvo">
	select * from quesboard where qnum=#{num}
</select>

<update id="qbUpdate" parameterType="qvo" >
	update quesboard set qtitle = #{qtitle}, qcont = #{qcont}
	where qnum=#{qnum}
</update>

<delete id="qbDelete" parameterType="int">
	delete from quesboard where qnum = #{qnum}
</delete>





</mapper>